:root{
    --coloronegro:#04141d;
    --big:#17a2b8;
}

body{
    background-color: var(--coloronegro);
    font-family:'Antonio', sans-serif;

    
}
.navbar {
    background-color: rgb(0, 0, 0) !important;
  }
.perfil{

    width: 4rem;
    border-radius: 70%;
    box-shadow: 5px 5px 6px rgb(50, 49, 49);
}



.datos{

 padding-top: 10rem;


}

.datos2{

    padding-top: 10rem;
   
   
   
   }


.logo-footer ,.icon-footer, .icon-grup{
    display: inline-block;
}


.icon-footer{
    margin-left: 1rem;
}



@media screen and (min-width: 600px){

    .datos2{
        margin-left: 40rem;
    }
    }

